.heading {
    width: 100%;
}

.heading h3{
    display: inline;
    float: left;
}

.heading button{
    float: right;
}

footer{
    position: fixed;
    bottom: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    color: yellow;
    letter-spacing: 5px;
}
